/* Error: Module loop: this module is already being loaded.
 *    ,--> sass\components\_index.scss
 * 1  | @forward "./index";
 *    | ^^^^^^^^^^^^^^^^^^ new load
 *    '
 *    ,--> sass\main.scss
 * 24 | @use "./components" as *;
 *    | ======================== original load
 *    '
 *   sass\components\_index.scss 1:1  @use
 *   sass\main.scss 24:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Module loop: this module is already being loaded.\a    \250c \2500 \2500 > sass\\components\\_index.scss\a 1  \2502  @forward "./index";\d\a    \2502  ^^^^^^^^^^^^^^^^^^ new load\a    \2575 \a    \250c \2500 \2500 > sass\\main.scss\a 24 \2502  @use "./components" as *;\d\a    \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a    \2575 \a   sass\\components\\_index.scss 1:1  @use\a   sass\\main.scss 24:1              root stylesheet';
}
