@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding: clamp(0.75rem, 1.2vw, 1.2rem);
}
@media screen and (max-width: 56.25em) {
  body {
    padding: unset;
  }
}

main > * + * {
  margin-top: clamp(8rem, 9vw, 12.8rem);
}

.container {
  width: 100%;
  max-width: clamp(30rem, 80%, 120rem);
  margin-inline: auto;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: clamp(0.5rem, 1vw, 0.8rem);
  transform: translateY(-2rem);
  backface-visibility: hidden;
}
.heading-primary--main {
  font-size: clamp(3.875rem, 5vw + 2rem, 6.2rem);
  font-weight: 300;
  letter-spacing: 3.2rem;
  animation: moveInLeft 1s ease-out;
}
@media screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  font-size: clamp(1.25rem, 1.4vw + 0.7rem, 2rem);
  font-weight: 500;
  letter-spacing: 1.2rem;
  animation: moveInRight 1s ease-out;
}
@media screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: clamp(2.25rem, 3vw + 1.2rem, 3.6rem);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  background-image: linear-gradient(270deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: 300% auto;
  background-position: 0% 50%;
  animation: move-gradient 5s linear infinite;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: clamp(1.125rem, 1.2vw + 0.6rem, 1.8rem);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.u-center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-margin-bottom--sm {
  margin-bottom: clamp(1rem, 1.5vw, 1.6rem);
}
.u-margin-bottom--md {
  margin-bottom: clamp(2rem, 2.5vw, 3.2rem);
}
.u-margin-bottom--lg {
  margin-bottom: clamp(5rem, 6vw, 8rem);
}

.grid {
  display: grid;
}
.grid--col-2 {
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 56.25em) {
  .grid--col-2 {
    grid-template-columns: 1fr;
  }
}
.grid--col-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 56.25em) {
  .grid--col-3 {
    grid-template-columns: 1fr;
  }
}
.grid--col-3 .col-2-of-3 {
  grid-column: span 2;
}
.grid--col-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 56.25em) {
  .grid--col-4 {
    grid-template-columns: 1fr;
  }
}
.grid--col-4 .col-2-of-4 {
  grid-column: span 2;
}
.grid--col-4 .col-3-of-4 {
  grid-column: span 3;
}

.nav {
  counter-reset: section;
}
.nav__link::before {
  counter-increment: section;
  content: "0" counter(section) " ";
}
.nav__link:link, .nav__link:visited {
  display: inline-block;
  font-size: clamp(1.5rem, 2vw + 0.8rem, 2.4rem);
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: clamp(0.25rem, 0.5vw, 0.4rem) clamp(0.5rem, 1vw, 0.8rem);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all 0.3s ease;
}
.nav__link:hover, .nav__link:active {
  background-position: 100%;
  color: #55c57a;
  translate: 1rem;
}
.nav__background {
  z-index: 998;
  height: 6rem;
  width: 6rem;
  border-radius: 60%;
  position: fixed;
  inset: 3.5rem 3.5rem auto auto;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: scale 0.8s;
}
@media screen and (max-width: 37.5em) {
  .nav__background {
    inset: 3.5rem 6.5rem auto auto;
  }
}
.nav__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  inset: 3rem 3rem auto auto;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 37.5em) {
  .nav__btn {
    inset: 3rem 6rem auto auto;
  }
}
.nav__icon {
  position: relative;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.nav__icon::before, .nav__icon::after {
  position: absolute;
  content: "";
  left: 0;
  transition: all 0.2s ease;
}
.nav__icon::before {
  top: -0.8rem;
}
.nav__icon::after {
  top: 0.8rem;
}
.nav__list {
  list-style: none;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1.5vw, 1.6rem);
  width: 100%;
}
.nav__menu {
  height: 100vh;
  position: fixed;
  inset: 0 -50rem auto auto;
  z-index: 999;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.49, -0.41, 0, 1.26);
}
.nav__checkbox {
  display: none;
}
.nav__checkbox:checked ~ .nav__background {
  scale: 100;
}
.nav__checkbox:checked ~ .nav__menu {
  opacity: 1;
  width: 100%;
  inset: 0 0 auto auto;
}
.nav__btn:hover .nav__icon::before {
  top: -1rem;
}
.nav__btn:hover .nav__icon::after {
  top: 1rem;
}
.nav__checkbox:checked + .nav__btn .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__btn .nav__icon::before {
  inset: 0;
  rotate: 135deg;
}
.nav__checkbox:checked + .nav__btn .nav__icon::after {
  inset: 0;
  rotate: -135deg;
}

.header {
  position: relative;
  height: 95vh;
  height: 95dvh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 76vh, 0 100%);
}
@media screen and (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
  }
}
.header::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8));
  background-size: 300% auto;
  background-position: 0% 50%;
  animation: move-gradient 4s ease-in-out infinite alternate;
  opacity: 0.5;
}
.header__logo-box {
  position: absolute;
  inset: 4rem auto auto 4rem;
}
.header__logo {
  height: 3.2rem;
}
.header__heading {
  gap: clamp(0.5rem, 1vw, 0.8rem);
  transform: translateY(-10%);
}

.footer {
  background-color: #333;
  padding-block: clamp(4rem, 5vw, 6.4rem);
  font-size: clamp(0.875rem, 1vw + 0.4rem, 1.4rem);
  color: #777;
}
.footer > * + * {
  margin-top: clamp(4rem, 5vw, 6.4rem);
}
.footer .grid {
  justify-content: space-between;
  gap: clamp(4rem, 5vw, 6.4rem);
}
@media screen and (max-width: 56.25em) {
  .footer .grid {
    width: 60%;
  }
}
@media screen and (max-width: 37.5em) {
  .footer .grid {
    width: 80%;
  }
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.5rem, 2vw, 2.4rem);
  border-top: #777 3px solid;
}
@media screen and (max-width: 56.25em) {
  .footer__copyright {
    justify-content: space-around;
  }
}
.footer__link {
  transition: all 0.2s;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.footer__link:hover, .footer__link:active {
  transform: rotate(5deg) scale(1.3);
  border-radius: 3px;
}
.footer__link--text:hover, .footer__link--text:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  padding-inline: clamp(0.5rem, 1vw, 0.8rem);
}
.footer__list {
  list-style: none;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  gap: clamp(1.5rem, 2vw, 2.4rem);
  border-top: #777 3px solid;
}
@media screen and (max-width: 56.25em) {
  .footer__list {
    justify-content: space-around;
  }
}
.footer__logo-box {
  text-align: center;
}
.footer__logo {
  width: 20rem;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.5rem, 2vw, 2.4rem);
  border-radius: 3px;
  overflow: hidden;
}
.footer__my-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 1.5vw, 1.6rem);
}

.popup {
  height: 100vh;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  scale: 1;
}
.popup__grid {
  display: grid;
  grid-template: auto auto/30fr 70fr;
}
.popup__close:link, .popup__close:visited {
  font-size: 3rem;
  color: #333;
  position: absolute;
  inset: 1rem 2.5rem auto auto;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.popup__close:hover, .popup__close:active {
  color: #ff7730;
}
.popup__content {
  background-color: #fff;
  border-radius: 3px;
  opacity: 0;
  scale: 0.25;
  overflow: hidden;
  position: relative;
  transition: all 0.4s 0.2s ease;
}
.popup__img {
  width: 100%;
}
.popup__text-box {
  grid-area: 1/2/3/3;
  padding: clamp(1rem, 1.5vw, 1.6rem) clamp(2rem, 2.5vw, 3.2rem);
  align-content: center;
}
.popup__text-box > * + * {
  margin-top: clamp(1.5rem, 2vw, 2.4rem);
}
.popup__texts {
  display: flex;
  gap: clamp(0.75rem, 1.2vw, 1.2rem);
  -webkit-hyphens: auto;
  hyphens: auto;
}

.btn {
  padding: clamp(1rem, 1.5vw, 1.6rem) clamp(3rem, 3.5vw, 4.8rem);
}
.btn, .btn:link, .btn:visited {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  transition: all 0.2s ease;
  border: none;
  border-radius: 10rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:hover .btn__style {
  transform: translateX(-1rem);
}
.btn:hover .btn__style::after {
  opacity: 1;
  transform: translateX(5px);
  transition: all 0.2s cubic-bezier(0.64, 0.03, 0.4, 1.02);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}
.btn--white {
  background-color: #fff;
  color: #777;
  z-index: 5;
}
.btn--green {
  color: #fff;
  z-index: 1;
  background-image: linear-gradient(135deg, #7ed56f, #55c57a, #7ed56f, #55c57a);
  background-size: 300% auto;
  background-position: 0% 50%;
  animation: move-gradient 5s linear infinite;
}
.btn__style {
  display: inline-block;
  transition: all 0.2s ease;
  z-index: 3;
}
.btn__style::after {
  content: "⪢";
  position: absolute;
  z-index: 2;
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.3s ease-in-out;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  color: #55c57a;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 1px solid #55c57a;
  padding: clamp(0.12rem, 0.3vw, 0.25rem) clamp(0.5rem, 1vw, 0.8rem);
  transition: all 0.2s ease-in-out;
}
.btn-text:hover, .btn-text:active {
  background-image: linear-gradient(135deg, #7ed56f, #55c57a, #7ed56f, #55c57a);
  background-size: 600% auto;
  background-position: 0% 50%;
  animation: move-gradient 4s ease-in-out infinite alternate;
  border-bottom: 1px solid transparent;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.composition {
  position: relative;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
  transition: all 0.2s;
}
.composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  outline-offset: 2rem;
  z-index: 10;
  transition: all 0.2s;
}
.composition__photo:hover {
  outline: #55c57a 1.4rem solid;
  transform: scale(1.05) translateY(-0.5px);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition__photo--p1 {
  inset: -2rem auto auto 0;
}
.composition__photo--p2 {
  inset: 2rem 0 auto auto;
}
.composition__photo--p3 {
  inset: 10rem auto auto 20%;
}

.feature-box {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: clamp(0.875rem, 1vw + 0.4rem, 1.4rem);
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: clamp(4rem, 5vw, 6.4rem) clamp(1.5rem, 2vw, 2.4rem);
  transition: transform 0.3s;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.02);
}
@media screen and (max-width: 56.25em) {
  .feature-box {
    width: 60%;
    padding-inline: clamp(6rem, 7vw, 9.6rem);
  }
}
@media screen and (max-width: 37.5em) {
  .feature-box {
    padding: clamp(4rem, 5vw, 6.4rem) clamp(1.5rem, 2vw, 2.4rem);
  }
}
.feature-box__icon {
  font-size: clamp(2.75rem, 3.5vw + 1.5rem, 4.4rem);
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
}

.card {
  position: relative;
  perspective: 150rem;
  height: 50rem;
}
@media screen and (max-width: 56.25em) {
  .card {
    width: 50%;
  }
}
@media screen and (max-width: 37.5em) {
  .card {
    width: 70%;
    height: 40rem;
  }
}
.card__side {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.card__side--back {
  transform: rotateY(180deg);
  background-size: 600% auto;
  background-position: 0% 50%;
  animation: move-gradient 5.2s linear infinite;
}
.card__side--back-1 {
  background-image: linear-gradient(135deg, #ffb900, #ff7730, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(135deg, #7ed56f, #55c57a, #7ed56f, #55c57a);
}
.card__side--back-3 {
  background-image: linear-gradient(135deg, #2998ff, #5643fa, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 23rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: clamp(1.5rem, 2vw + 0.8rem, 2.4rem);
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  inset: 12rem 2rem auto auto;
  width: 75%;
}
.card__heading-span {
  padding: clamp(0.75rem, 1.2vw, 1.2rem) clamp(1.5rem, 2vw, 2.4rem);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(85, 197, 122, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding-block: clamp(3rem, 3.5vw, 4.8rem);
}
.card__details ul {
  list-style: none;
  width: 80%;
  height: 100%;
  justify-self: center;
  gap: clamp(0.75rem, 1.2vw, 1.2rem);
}
.card__details ul li {
  text-align: center;
  font-size: clamp(0.875rem, 1vw + 0.4rem, 1.4rem);
}
.card__details ul li:not(:last-child) {
  border-bottom: #eee 1px solid;
}
.card__cta {
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 5vw, 6.4rem);
}
.card__price-box {
  text-align: center;
  color: #f7f7f7;
}
.card__price-only {
  font-size: clamp(0.875rem, 1vw + 0.4rem, 1.4rem);
  text-transform: uppercase;
}
.card__price-value {
  font-size: clamp(3.875rem, 5vw + 2rem, 6.2rem);
  font-weight: 200;
}

.bg-video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story {
  width: 80%;
  background-color: rgba(238, 238, 238, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: clamp(3rem, 3.5vw, 4.8rem) clamp(4rem, 5vw, 6.4rem);
  transform: skewX(-12deg);
}
.story__shape {
  float: left;
  width: 15rem;
  height: 15rem;
  shape-outside: circle();
  clip-path: circle();
  margin-inline: clamp(1rem, 1.5vw, 1.6rem);
  transform: translateX(-2rem) skewX(12deg);
}
.story__caption {
  position: absolute;
  inset: 0;
  color: #fff;
  font-size: clamp(1.25rem, 1.4vw + 0.7rem, 2rem);
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.3s;
}
.story__text {
  transform: skewX(12deg);
}
.story:hover .story__caption {
  opacity: 1;
  transform: translateY(0);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.form > * + * {
  margin-top: clamp(3rem, 3.5vw, 4.8rem);
}
.form__group {
  position: relative;
  width: 40%;
}
.form__group--radio {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.75rem, 1.2vw, 1.2rem);
}
.form__input {
  position: relative;
  width: 100%;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: clamp(0.875rem, 1vw + 0.4rem, 1.4rem);
  padding: clamp(1rem, 1.5vw, 1.6rem) clamp(0.75rem, 1.2vw, 1.2rem) clamp(0.5rem, 1vw, 0.8rem);
  font-family: inherit;
  color: inherit;
  accent-color: #55c57a;
  z-index: 10;
  transition: all 0.3s ease;
}
.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown) ~ .form__label {
  opacity: 1;
  color: #55c57a;
  transform: translateX(-4px) translateY(-5rem);
}
.form__input:focus ~ .form__input-box, .form__input:not(:placeholder-shown) ~ .form__input-box {
  height: 4.4rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}
.form__input:focus:valid, .form__input:not(:placeholder-shown):valid {
  caret-color: #55c57a;
}
.form__input:focus:valid ~ .form__label, .form__input:not(:placeholder-shown):valid ~ .form__label {
  color: #55c57a;
}
.form__input:focus:invalid, .form__input:not(:placeholder-shown):invalid {
  caret-color: #ff7730;
}
.form__input:focus:invalid ~ .form__label, .form__input:not(:placeholder-shown):invalid ~ .form__label {
  color: #ff7730;
}
.form__label {
  position: absolute;
  inset: 0;
  padding: clamp(1rem, 1.5vw, 1.6rem) clamp(0.75rem, 1.2vw, 1.2rem) clamp(0.75rem, 1.2vw, 1.2rem);
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  font-weight: 700;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.form__input-box {
  position: absolute;
  inset: auto auto -5px 0;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  width: 100%;
  height: 3px;
  background: #55c57a;
  border-radius: 1px;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 9;
}
.form__radio-group {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  font-weight: 700;
}
.form__radio-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}
.form__radio-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1vw, 0.8rem);
}
.form__radio-btn {
  display: inline-block;
  position: relative;
  height: 3rem;
  width: 3rem;
  border: #55c57a 5px solid;
  border-radius: 50%;
}
.form__radio-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  display: block;
  height: 1rem;
  width: 1rem;
  background-color: #55c57a;
  border-radius: 50%;
  transition: opacity 0.2s;
  opacity: 0;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1;
}

.about .grid {
  gap: clamp(3rem, 3.5vw, 4.8rem);
}
.about__description > * + * {
  margin-top: clamp(3rem, 3.5vw, 4.8rem);
}

.features {
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  padding-block: calc(clamp(6rem, 7vw, 9.6rem) * 2);
}
.features::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8));
  background-size: 300% auto;
  background-position: 0% 50%;
  animation: move-gradient 4s ease-in-out infinite alternate;
  opacity: 0.5;
}
.features > * {
  transform: skewY(7deg);
}
.features .grid {
  gap: clamp(1.5rem, 2vw, 2.4rem);
}
@media screen and (max-width: 56.25em) {
  .features .grid {
    gap: clamp(4rem, 5vw, 6.4rem);
  }
}

.tours > * + * {
  margin-top: clamp(4rem, 5vw, 6.4rem);
}
.tours .grid {
  gap: clamp(3rem, 3.5vw, 4.8rem);
}
@media screen and (max-width: 56.25em) {
  .tours .grid > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.stories {
  position: relative;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.6rem);
  padding-block: clamp(4rem, 5vw, 6.4rem);
}
.stories > * + * {
  margin-top: clamp(4rem, 5vw, 6.4rem);
}

.booking {
  background-image: linear-gradient(135deg, #7ed56f, #55c57a, #7ed56f, #55c57a);
  background-size: 400% auto;
  background-position: 0% 50%;
  animation: move-gradient 5s linear infinite;
  padding-block: clamp(8rem, 9vw, 12.8rem);
  overflow: hidden;
}

.book {
  padding: clamp(4rem, 5vw, 6.4rem);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */
