@use "../abstracts" as *;

.u-center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-margin-bottom {
  &--sm {
    margin-bottom: $space-16;
  }

  &--md {
    margin-bottom: $space-32;
  }

  &--lg {
    margin-bottom: $space-80;
  }
}

.u-margin-top {
  &--lg {
    margin-top: $space-128;
  }

  &--md {
    margin-top: $space-80;
  }
}
