@use "../abstracts" as *;

// TITLE: Header btn
.btn {
  padding: $space-16 $space-48;

  &,
  &:link,
  &:visited {
    cursor: pointer;
    position: relative;

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;

    font-size: $default-fs;

    transition: all 0.2s ease;

    border: none;
    border-radius: 10rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black-100, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:hover &__style {
    transform: translateX(-1rem);

    &::after {
      opacity: 1;
      transform: translateX(5px);
      transition: all 0.3s ease-in-out;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black-100, 0.2);
  }

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 10rem;

  //   position: absolute;
  //   inset: 0;
  //   z-index: -1;

  //   transition: all 0.4s;
  // }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s backwards;
  }

  &--white {
    background-color: $color-white-100;
    color: $color-gray-100;

    // &::after {
    //   background-color: $color-white-100;
    // }
  }

  &--green {
    background-color: $color-primary-100;
    color: $color-white-100;

    // &::after {
    //   background-color: $color-primary-100;
    // }
  }

  &__style {
    display: inline-block;
    transition: all 0.2s ease;

    &::after {
      content: "→";

      position: absolute;
      opacity: 0;
      transform: translateX(-5px);

      transition: all 0.3s ease-in-out;
    }
  }
}

// TITLE: About btn
.btn-text {
  &:link,
  &:visited {
    display: inline-block;

    font-size: $default-fs;
    color: $color-primary-100;
    text-decoration: none;
    white-space: nowrap;

    border-bottom: 1px solid $color-primary-100;
    padding: 3px;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: $color-primary-100;
    color: $color-white-100;
    box-shadow: 0 1rem 2rem rgba($color-black-100, 0.15);
    transform: translateY(-2px);
  }

  &:active {
  }
}

// -------------------------

.link {
  position: relative;
  // color: var(--accent-100);
  // border-bottom: var(--accent-100) 1px solid;

  ::after {
    content: "→";

    position: absolute;
    opacity: 0;
    transform: translateX(-5px);

    transition: all 0.3s ease-in-out;
  }

  :hover,
  :active {
    transform: translateX(-1rem);
    border-bottom: transparent 1px solid;

    :after {
      opacity: 1;
      transform: translateX(5px);
      transition: all 0.3s ease-in-out;
    }
  }
}

.link-more {
  cursor: pointer;
  text-align: end;
  margin-block: var(--space-04);
  padding: var(--space-08);
}
