@use "../abstracts" as *;

// TITLE: Header btn
.btn {
  &:link,
  &:visited {
    position: relative;

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s;

    padding: $space-16 $space-48;
    border-radius: 10rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black-100, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black-100, 0.2);
  }

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 10rem;

  //   position: absolute;
  //   inset: 0;
  //   z-index: -1;

  //   transition: all 0.4s;
  // }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s backwards;
  }

  &--white {
    background-color: $color-white-100;
    color: $color-gray-100;

    // &::after {
    //   background-color: $color-white-100;
    // }
  }
}
