@use "../abstracts" as *;

.form {
  @include stack-spacing($space-48);

  &__group {
    position: relative;
    width: 40%;
  }

  &__input {
    position: relative;
    width: 100%;

    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;

    font-size: $fs-14;
    padding: $space-16 $space-12 $space-08;
    font-family: inherit;
    color: inherit;
    accent-color: $color-primary-100;

    z-index: 10;
    transition: all 0.3s ease;

    &:focus,
    &:not(:placeholder-shown) {
      &:valid {
        caret-color: $color-primary-100;
      }

      &:invalid {
        caret-color: $color-secondary-100;
      }

      &:valid ~ .form__label {
        color: $color-primary-100;
      }

      &:invalid ~ .form__label {
        color: $color-secondary-100;
      }
    }

    &:focus ~ .form__label,
    &:not(:placeholder-shown) ~ .form__label {
      opacity: 1;
      color: $color-primary-100;
      transform: translateX(-4px) translateY(-5rem);
    }

    &:focus ~ .form__input-box,
    &:not(:placeholder-shown) ~ .form__input-box {
      height: 4.4rem;
      background-color: rgba($color-white-100, $alpha: 0.6);
      box-shadow: 0 1rem 2rem rgba($color-black-100, $alpha: 0.1);
      border-radius: 1px;
    }
  }

  &__label {
    position: absolute;
    inset: 0;
    padding: $space-16 $space-12 $space-12;

    font-size: $default-fs;
    font-weight: 700;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  &__input-box {
    position: absolute;
    inset: auto auto -5px 0;

    width: 100%;
    height: 3px;
    background: $color-primary-100;
    border-radius: 1px;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 9;
  }
}
