@use "../abstracts" as *;

.about {
  &__description {
    @include stack-spacing($space-48);
  }

  .grid {
    gap: $space-48;
  }
}

.features {
  transform: skewY(-7deg);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-tint-100, 0.8),
      rgba($color-shade-100, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  padding-block: calc($space-96 * 2);

  &::after {
    @include animated-gradient(135deg, $color-tint-100, $color-shade-100);
  }

  & > * {
    transform: skewY(7deg);
  }

  .grid {
    gap: $space-24;
  }
}

.tours {
  @include stack-spacing($space-64);

  .grid {
    gap: $space-48;
  }
}

.stories {
  position: relative;
  font-size: $default-fs;
  padding-block: $space-64;
  @include stack-spacing($space-64);
}

.booking {
  background-image: linear-gradient(
    135deg,
    $color-tint-100,
    $color-primary-100,
    $color-tint-100,
    $color-primary-100
  );
  background-size: 400% auto;
  background-position: 0% 50%;
  animation: move-gradient 5s linear infinite;

  padding-block: $space-128;
  overflow: hidden;
}

.book {
  padding: $space-64;
  background-image: linear-gradient(
      105deg,
      rgba($color-white-100, 0.8) 0%,
      rgba($color-white-100, 0.8) 50%,
      (transparent 50%)
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba($color-black-100, $alpha: 0.2);
  border-radius: 3px;
}
